# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
remappedSrc/

# libs (local dependencies - keep the directory but ignore jars, will be removed when baritone updates)
libs/*.zip
